#city p.title{
    padding-left: 15px;
    font-size: 14px;
    line-height: 40px;
    background-color: #ebebeb;
    margin-top: -1px;	
    transition: 0.3s;
}
#city p.local{
	
	padding-left: 15px;
    font-size: 14px;
    line-height: 40px;
    background-color: #fff;
    margin-top: -1px;	
	color:#e2941a;
}
#city   .hitcityls,.wordls{background: #fff;display: flex;flex-wrap: wrap;}
#city   .hitcityls .hititem{
	flex:1;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #838383;
    border-bottom: #ebebeb 1px solid;
    }
.wordls .worditem{
	display: block;
    width: 25%;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #838383;
    border-bottom: #ebebeb 1px solid;	
	
}
